@{
	ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<hr />

<div class="row">
	<!-- contact info -->
	<div class="col-md-3">
		<div class="card bg-light mb-3" style="max-width: 20rem;">
			<div class="card-header">Connect with Us</div>
			<div class="card-body">
				<h4 class="card-title">Communicate</h4>
				<p class="card-text">mo.ghoorchian@gmail.com</p>
				<p class="card-text">09109330621</p>
				<p class="card-text">09016647572</p>
			</div>
		</div>
	</div>
	<!-- guide (almost for beauty) -->
	<div class="col-md-9">
		<div class="mt-4 p-5 bg-primary text-white rounded">
			<h1 class="display-4">Welcome to our Market</h1>
			<p class="lead">You can contact us through these ways</p>
			<hr class="my-4">
			<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
			</p>
		</div>
	</div>
</div>
